<!DOCTYPE html>
<html>
<head>
	<title>Catelog API Demo</title>
</head>
<body>
	<h1>Catelog API Demo</h1>
	Request Endpoint:<br>
	{{ request_url }}
	
	<form action="" method="POST">{% csrf_token %}
		<label for="term">Term:</label>
		<input type="text" name="term"><br>
		<label for="subject">Subject:</label>
		<input type="text" name="subject"><br>
		<label for="course_number">Course Number:</label>
		<input type="text" name="course_number"><br>
		<input type="submit" value="Submit!">
	</form>

	Response:<br>
	{{ response }}

</body>
</html>