<!DOCTYPE html>
<html>
<head>
	<title>Catelog API Demo</title>
</head>
<body>
	<h1>Catelog API Demo</h1>
	Request Endpoint:<br>
	{{ request_url }}
	
	Class Search:
	<form action="" method="POST">{% csrf_token %}
		<label for="term">Term:</label>
		<input type="text" name="term"><br>
		<label for="subject">Subject:</label>
		<input type="text" name="subject"><br>
		<label for="course_num">Course Number:</label>
		<input type="text" name="course_num"><br>
		<label for="q">Query:</label>
		<input type="text" name="q"><br>
		<label for="page_size">Page Size:</label>
		<input type="text" name="page_size"><br>
		<label for="page_num">Page Number:</label>
		<input type="text" name="page_num"><br>
		<input type="submit" value="Submit!">
	</form>

	Response:<br>
	{{ response }}

</body>
</html>