<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'catalog_api_demo/css/main_style.css' %}"/>
	<link rel="icon" href="{% static 'images/favicon.ico' %}">
	<title>Catalog API Demo</title>
</head>
<body>
	<form action="/catalog_api_demo"><button type="submit">Back to APIs list</button></form>
	<h1>Class Search API Demo</h1>
	<p>Request Endpoint: {{ request_url }}</p>

	<form action="" method="GET">{% csrf_token %}
		<table>
			{% if form.is_valid %}
			<tr>
				<th><label for="year">* Year:</label></th>
				<td>{{ form.year }}</td>
			</tr>
			<tr>
				<th><label for="term">* Term:</label></th>
				<td>{{ form.term }}</td>
			</tr>
			<tr>
				<th><label for="subject">* Subject:</label></th>
				<td>{{ form.subject }}</td>
			</tr>
			<tr>
				<th><label for="course_num">&nbsp;&nbsp;Course Number:</label></th>
				<td>{{ form.course_num }}</td>
			</tr>
			<tr>
				<th><label for="q">&nbsp;&nbsp;Query:</label></th>
				<td>{{ form.q }}</td>
			</tr>
			<tr>
				<th><label for="page_size">&nbsp;&nbsp;Page Size:</label></th>
				<td>{{ form.page_size }}</td> 
			</tr>
			<tr>
				<th><label for="page_num">&nbsp;&nbsp;Page Number:</label></th>
				<td>{{ form.page_num }}</td> 
			</tr>
			{% else %}
			<tr>
				<th><label for="year">* Year:</label></th>
				<td><input type="text" name="year" value={% if year %} "{{ year }}" {% else %} "2016" {% endif %} required></td> 
			</tr>
			<tr>
				<th><label for="term">* Term:</label></th>
				<td>
					<ul>
						<li><label><input class="term-list" type="radio" name="term" value="fall" {% if term == "fall" or not term %} checked {% endif %}> Fall</label></li>
						<li><label><input class="term-list" type="radio" name="term" value="winter" {% if term == "winter" %} checked {% endif %}> Winter</label></li>
						<li><label><input class="term-list" type="radio" name="term" value="spring" {% if term == "spring" %} checked {% endif %}> Spring</label></li>
						<li><label><input class="term-list" type="radio" name="term" value="summer" {% if term == "summer" %} checked {% endif %}> Summer</label></li>
					</ul>
				</td>
			</tr>
			<tr>
				<th><label for="subject">* Subject:</label></th>
				<td><input type="text" name="subject" value={% if subject %} "{{ subject }}" {% else %} "CS" {% endif %} required></td> 
			</tr>
			<tr>
				<th><label for="course_num">&nbsp;&nbsp;Course Number:</label></th>
				<td><input type="text" name="course_num" {% if course_num %} value="{{ course_num }}" {% endif %}></td> 
			</tr>
			<tr>
				<th><label for="q">&nbsp;&nbsp;Query:</label></th>
				<td><input type="text" name="q" {% if q %} value="{{ q }}" {% endif %}></td> 
			</tr>
			<tr>
				<th><label for="page_size">&nbsp;&nbsp;Page Size:</label></th>
				<td><input type="text" name="page_size" placeholder="10 (Default)" value={% if page_size %} "{{ page_size }}" {% else %} "10" {% endif %}></td> 
			</tr>
			<tr>
				<th><label for="page_num">&nbsp;&nbsp;Page Number:</label></th>
				<td><input type="text" name="page_num" placeholder="1 (Default)" value={% if page_num %} "{{ page_num }}" {% else %} "1" {% endif %}></td> 
			</tr>
			{% endif %}
		</table>
		<p>* are required fileds</p>
	<input type="submit" value="Submit">
	<hr>
	<div id="filter_wrapper">
		<input id="filter_box" placeholder="Search within this page" name="building" value="" type="text">
	</div>
	</form>
			{% if links %}
				<label id="page_info" for="page_info">&nbsp;&nbsp;Pages: {{ current_page }} / {{ total_page }}</label>
				{% if links.prev %}
					<form action="" method="GET" class="page_form">{% csrf_token %}
						<input type="hidden" name="page_link" value="{{ links.prev }}">
						<input type="submit" value="&larr;">
					</form>
				{% endif %}
				{% if links.next %}
					<form action="" method="GET" class="page_form">{% csrf_token %}
						<input type="hidden" name="page_link" value="{{ links.next }}">
						<input type="submit" value="&rarr;">
					</form>
				{% endif %}
				{% if links.last %}	
					<form action="" method="GET" class="page_form">{% csrf_token %}
						<input type="hidden" name="page_link" value="{{ links.last }}">
						<input type="submit" value="To Last Page">
					</form>
				{% endif %}
				<div class="clearfix"></div>
			{% endif %}

			{% if data %}
			<div id="results">
				<h3>Total <span id="totle_count"></span> Result(s)</h3>
				{% for course in data %}
					<table class="result">
						<tbody>
							<tr>
								<th>Course ID (CRN):</th>
								<td class="description">{{ course.id }}</td>
							</tr>
							<tr>
								<th>Title:</th>
								<td class="description">{{ course.attributes.courseTitle }}</td>
							</tr>
							<tr>
								<th>Subject:</th>
								<td class="description">{{ course.attributes.subjectDescription }}</td>
							</tr>
							<tr>
								<th>Course Number:</th>
								<td class="description">{{ course.attributes.subject }} {{ course.attributes.courseNumber }}</td>
							</tr>
							<tr>
								<th>Section:</th>
								<td class="description">{{ course.attributes.section }}</td>
							</tr>
							<tr>
								<th>Credit Hours:</th>
								<td class="description">{{ course.attributes.creditHours }}</td>
							</tr>
							<tr>
								<th>Campus:</th>
								<td class="description">{{ course.attributes.campusDescription }}</td>
							</tr>
							<tr>
								<th>Term:</th>
								<td class="description">{{ course.attributes.termDescription }}</td>
							</tr>
							<tr>
								<th>Duration:</th>
								<td class="description">{{ course.attributes.termStartDate }} to {{ course.attributes.termEndDate }} ({{ course.attributes.termWeeks }} weeks)</td>
							</tr>
							{% for faculty in course.attributes.faculty %}
								<tr>
									<th>Instructor:</th>
									<td class="description">{{ faculty.displayName }}</td>
								</tr>
							{% endfor %}
							{% for meeting in course.attributes.meetingTimes %}
								<tr>
									<th>Location:</th>
									<td class="description">{{ meeting.buildingName }} ({{ meeting.building }})</td>
								</tr>
								<tr>
									<th>Room:</th>
									<td class="description">{{ meeting.room }}</td>
								</tr>
								<tr>
									<th>Time:</th>
									<td class="description">{% if meeting.monday %}M{% endif %}{% if meeting.tuesday %}T{% endif %}{% if meeting.wednesday %}W{% endif %}{% if meeting.thursday %}R{% endif %}{% if meeting.friday %}F{% endif %}
								{{ meeting.startTime }} to {{ meeting.endTime }}</td>
								</tr>
							{% endfor %}
							<tr>
								<th>Scheduled Type:</th>
								<td class="description">{{ course.attributes.scheduleTypeDescription }}</td>
							</tr>
							<tr>
								<th>Maximum Enrollment:</th>
								<td class="description">{{ course.attributes.maximumEnrollment }}</td>
							</tr>
							<tr>
								<th>Current Enrollment:</th>
								<td class="description">{{ course.attributes.enrollment }}</td>
							</tr>
							<tr>
								<th>Status:</th>
								<td class="description">{{ course.attributes.status }}</td>
							</tr>
							{% if course.attributes.status == "Waitlisted" %}
								<tr>
									<th>Wait Capacity:</th>
									<td class="description">{{ course.attributes.waitCapacity }}</td>
								</tr>
								<tr>
									<th>Wait Count:</th>
									<td class="description">{{ course.attributes.waitCount }}</td>
								</tr>
							{% endif %}
							{% if course.links %}
								<tr>
									<th>Course Links:</th>
									<td class="description">{{ course.links }}</td>
								</tr>
						</tbody>
					{% endif %}
					</table>
				{% endfor %}
				{% elif form.is_valid %}
				<h3>Nothing Matched Your Search</h3>
				{% endif %}
			</div>

	<!-- Scripts -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script type="text/javascript" src="{% static 'catalog_api_demo/js/main.js' %}"></script>
</body>
</html>