<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'catalog_api_demo/style.css' %}"/>
	<title>Catalog API Demo</title>
</head>
<body>
	<h1>Class Search API</h1>
	Request Endpoint: {{ request_url }}<br>
	
	<form action="" method="POST">{% csrf_token %}
		<label for="term">Term:</label>
		<input type="text" name="term" required><br>
		<label for="subject">Subject:</label>
		<input type="text" name="subject"><br>
		<label for="course_num">Course Number:</label>
		<input type="text" name="course_num"><br>
		<label for="q">Query:</label>
		<input type="text" name="q"><br>
		<label for="page_size">Page Size:</label>
		<input type="text" name="page_size"><br>
		<label for="page_num">Page Number:</label>
		<input type="text" name="page_num"><br>
		<input type="submit" value="Submit!">
	</form>

		<hr>
		<h3>data:</h3>
		{% for course in data %}
			<h4>Course ID:</h4>
			{{ course.id }}<br>
			<h4>Course Links:</h4>
			{{ course.links }}<br>
			<h4>Course Type:</h4>
			{{ course.type }}<br>
			<h4>Course Attributes:</h4>
			{{ course.attributes }}<br>
			<hr>
		{% endfor %}
		<h3>links</h3>
		{{ links }}

</body>
</html>