body {
	color: black;
	padding: 20px;	
}

table {
	margin: 1em 0px;
}

table tr th {
	padding: 0.5em;
}

table tr td ul{
	margin: 0;
	padding: 0;
}

table tr td ul li {
	margin-right: 0.7em;
	list-style-type: none;
	float: left;
}

button a {
	color: black;
}

button a:hover {
	color: black;
	text-decoration: none;
}

::-webkit-input-placeholder {
	font-weight: 500;
}

#page_info {
	float: left;
	font-size: 1em;
	margin-right: 1em;
}

.page_form {
	float: left;
	margin-right: 0.5em;
}

.clearfix {
	clear: both;
}

.result {
	border-top: 1px solid;
}

#filter_wrapper {
	margin-bottom: 0.5em;
}

#filter_wrapper #filter_box {
	width: 25%;
}